/build/
/.keys/
/design/
/install-helper/
*.jks
*.keystore
*.p12
*.pfx
*.pem
*.key
*.der
*.cer
*.crt
*.p8
*.idsig
*.aab
*.apk
*.db
*.sqlite
*.env
.env.*
!.env.example
!.env.sample
!.env.template
local.properties
keystore.properties
google-services.json
.idea/
.vscode/
*.log
.DS_Store
